@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Noto+Sans&display=swap');


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
    min-height:100svh;
    display:grid;
    place-items:center;
    background-color:#111826;
    -webkit-font-smoothing: antialiased;
    -khtml-font-smoothing: antialiased;
    -apple-font-smoothing: antialiased;
    font-smooth: always;
    -moz-osx-font-smoothing:grayscale
}
::placeholder { 
    color: #9ca3af;
    font-size: 19px;
}  

input:user-invalid {
  outline: 2px solid #f05252;
}

input:user-valid {
    outline: 2px solid #0e9f6e;
}
.submit_button {
    position: relative;
    font-size: 19px;
    font-family:Alegreya, serif;
    letter-spacing: 0.01em;
    width: 100%;
    color: #FAFAFA;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    height: 56px;
    display:grid;
    place-items: center;
    transition: background-color 0.3s ease-out;
    vertical-align: middle;
}
.drop_down_header {
    font-size: 19px;
    color: #9ca3af;
    border-radius:2px;
    padding-left: 43px;
    position: relative;
    height: 3.4em;
    cursor: pointer;
    display: flex;
    background-color: #374151;
    justify-content:space-between;
    align-items:center;
    white-space: nowrap;
    transition: outline-color 0.5s;
    outline: 2px solid transparent;
    font-family:Alegreya, serif;
}
.drop_down_header:focus {
    outline:2px solid #ffffff;
}

.submit_button:focus{
    outline: 2px solid #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border:none;
    -webkit-text-fill-color: #ffffff;
    -webkit-box-shadow:#374151; 
    transition: background-color 5000s ease-in-out 0s;
}
